{{ define "main" }}
  <section class="bg-black py4 angle-top-down-bottom-up">
    <div class="container mt3">
      <div class="clearfix">
        <div class="sm-col-10 md-col-9 lg-col-8 mx-auto">
          <div class="tagline bold color-white">WARPAINT is a small but mighty bilingual web agency excelling in strategic marketing and creative services.</div>
          <div class="sans-font color-primary m3">We listen to your goals, and offer options to truly address your needs — not force them into predefined plans of attack. Whatever your vision, WARPAINT will wield our limitless palette of strategy, design, and technical skill to drive your business to success. Every business is unique and everybody wears a different warpaint. Let's get creative and help you find yours.</div>
          <div class="clearfix">
            <ul class="accordion-menu">
              <li>
                <input id="service-1" name="service-1" class="accordion-checkbox" type="checkbox">
                <label for="service-1"><span class="arrow arrow-expand"></span><span class="arrow arrow-collapse"></span> Strategy</label>
                <div class="accordion-content">
                  <p>Customer Experience Assessment / Branding & Identity Planning / Search Engine Marketing Strategy (SEO & SEM) / Website Analytics / Social Media Strategy / Naming & Market Positioning / User Research / Rebrand Implementation / Copywriting / Content Strategy / Campaign Creation</p>
                </div>
              </li>
              <li>
                <input id="service-2" name="service-2" class="accordion-checkbox" type="checkbox">
                <label for="service-2"><span class="arrow arrow-expand"></span><span class="arrow arrow-collapse"></span> Design</label>
                <div class="accordion-content">
                  <p>Branding & Visual Identity / Website & Interface Design / Publication & Editorial Design / Packaging Design / Information Architecture / Business Collateral / Photo Editing & Manipulation / Web & Print Advertisements / Video Editing & Motion Graphics</p>
                </div>
              </li>
              <li>
                <input id="service-3" name="service-3" class="accordion-checkbox" type="checkbox">
                <label for="service-3"><span class="arrow arrow-expand"></span><span class="arrow arrow-collapse"></span> Production</label>
                <div class="accordion-content">
                  <p>Responsive & Mobile Website Development / Custom Content Management Systems (CMS) / Existing CMS Support / Custom Application Development / Site Performance Audit and Optimizations / E-Commerce / Studio & On-Location Photography and Videography</p>
                </div>
              </li>
            </ul>
          </div>
          <a id="down-button" href="#contact-form" title="Get In Touch" class="mt3 btn btn-primary">Get In Touch</a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white py4 angle-top-down-bottom-up">
    <div class="container">
      <div class="clearfix">
        <div class="sm-col-10 md-col-9 lg-col-8 mx-auto sm-mt2">
          <p class="bold tagline color-primary">How can we support you and your business? <em>No matter the situation, we can help.</em></p>
          <div class="sans-font m3 color-black">We listen to your goals, and offer options to truly address your needs — not force them into predefined plans of attack. Whatever your vision, WARPAINT will wield our limitless palette of strategy, design, and technical skill to promote your business success. Every business is unique and everybody wears a different warpaint. Let's get creative and help you find yours.</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div class="sm-col-10 md-col-9 lg-col-8 mx-auto sm-mt2">
          <p class="mt0 mb0 sans-font color-black">We are proud to have helped these organizations discover their warpaint.</p>
        </div>
      </div>
      <div id="home-clients" class="clearfix pt3">
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://www.mybigyellowbus.ca/" target="_blank" title="My Big Yellow Bus" rel="noopener">
            <img class="mono" src="/img/clients/MBYB_B.svg" data-src="/img/clients/MBYB_B.svg" alt="My Big Yellow Bus" data-lzled="true">
            <img class="color" src="/img/clients/MBYB_C.svg" data-src="/img/clients/MBYB_C.svg" alt="My Big Yellow Bus" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://rockingvibe.com/" target="_blank" title="Rocking Vibe" rel="noopener">
            <img class="mono" src="/img/clients/RockingVibe_B.svg" data-src="/img/clients/RockingVibe_B.svg" alt="Rocking Vibe" data-lzled="true">
            <img class="color" src="/img/clients/RockingVibe_C.svg" data-src="/img/clients/RockingVibe_C.svg" alt="Rocking Vibe" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://isp.ca/" target="_blank" title="ISP" rel="noopener">
            <img class="mono" src="/img/clients/ISP_B.svg" data-src="/img/clients/ISP_B.svg" alt="ISP" data-lzled="true">
            <img class="color" src="/img/clients/ISP_C.svg" data-src="/img/clients/ISP_C.svg" alt="ISP" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://semco.ca/" target="_blank" title="Semco Janitorial" rel="noopener">
            <img class="mono" src="/img/clients/Semco_B.svg" data-src="/img/clients/Semco_B.svg" alt="Semco Janitorial" data-lzled="true">
            <img class="color" src="/img/clients/Semco_C.svg" data-src="/img/clients/Semco_C.svg" alt="Semco Janitorial" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://eyesonrichmond.com/" target="_blank" title="Eyes On Richmond" rel="noopener">
            <img class="mono" src="/img/clients/EOR_B.svg" data-src="/img/clients/EOR_B.svg" alt="Eyes On Richmond" data-lzled="true">
            <img class="color" src="/img/clients/EOR_C.svg" data-src="/img/clients/EOR_C.svg" alt="Eyes On Richmond" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="http://jukasamediagroup.com/" target="_blank" title="Jukasa Media Group" rel="noopener">
            <img class="mono" src="/img/clients/Jukasa_B.svg" data-src="/img/clients/Jukasa_B.svg" alt="Jukasa Media Group" data-lzled="true">
            <img class="color" src="/img/clients/Jukasa_C.svg" data-src="/img/clients/Jukasa_C.svg" alt="Jukasa Media Group" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="https://www.london.ca/Pages/default.aspx" target="_blank" title="City Of London" rel="noopener">
            <img class="mono" src="/img/clients/London_B.svg" data-src="/img/clients/London_B.svg" alt="City Of London" data-lzled="true">
            <img class="color" src="/img/clients/London_C.svg" data-src="/img/clients/London_C.svg" alt="City Of London" data-lzled="true">
          </a>
        </div>
        <div class="col col-6 sm-col-6 md-col-3">
          <a href="https://raceroster.com" target="_blank" title="Race Roster" rel="noopener">
            <img class="mono" src="/img/clients/RaceRoster_B.svg" data-src="/img/clients/RaceRoster_B.svg" alt="Race Roster" data-lzled="true">
            <img class="color" src="/img/clients/RaceRoster_C.svg" data-src="/img/clients/RaceRoster_C.svg" alt="Race Roster" data-lzled="true">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-black py4 angle-top-down" id="contact">
    <div class="container">
      <div class="clearfix">
        <div class="sm-col-10 md-col-8 lg-col-7 mx-auto">
          <p class="bold tagline color-primary">Get Warpaint to advise on your digital strategy!</p>
          <div class="sans-font m3 color-white">Some of our clients have great ideas ready to go and just want the occasional helping hand. Others collaboratively include us in their executive team, pushing the boundaries of what’s possible to create amazing things together.</div>
          <form method="POST" action="{{ .Site.Params.FormEndpoint }}" accept-charset="UTF-8" id="contact-form" class="py2" enctype="multipart/form-data">
            <div style="height: 1px; width: 1px; overflow: hidden;"><input type="hidden" name="first_name" value=""></div>
            <div class="form-group" id="form-name">
              <!-- <input name="name" type="text" autocomplete="name" required> -->
              <!-- <label for="name">Name</label> -->
            </div>
            <div class="form-group" id="form-email">
              <!-- <input name="email" type="email" autocomplete="email" required> -->
              <!-- <label for="email">Email address</label> -->
            </div>
            <div class="form-group" id="form-email-confirm">
              <!-- <input name="email_confirmation" type="email" autocomplete="email" required> -->
              <!-- <label for="email_confirmation">Email address confirmation</label> -->
            </div>
            <div class="form-group" id="form-website">
              <!-- <input name="website" type="text" autocomplete="website"> -->
              <!-- <label for="website">Website URL</label> -->
            </div>
            <div class="form-group" id="form-message">
              <!-- <textarea rows="3" name="message" cols="50"></textarea> -->
              <!-- <label for="message">Message (Optional)</label> -->
            </div>
            <div class="form-group">
              <input name="newsletter" type="hidden" value="0">
              <div class="box-check">
                <label for="newsletter">Would you like to sign up to receive updates from WARPAINT? <input name="newsletter" id="newsletter" type="checkbox" value="1"></label>
              </div>
            </div>
            <div id="ajax-message"></div>
            <div class="center" id="form-button">
              <button class="mt3 btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}
